.ct-chat-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &__title {
      display: flex;
      margin: auto;
      flex-grow: 10000;
      align-items: center;
      &.hidden {
        display: none;
      }
    }
}