.app-chat-users {
    background-color: #ededfa;
}
.app-chat-users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    &__item {
        display: flex;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        @media (min-width: 1200px) {
            width: 20%;
        }
        @media (max-width: 1199px) {
            width: 25%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__photo {
        display: flex;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__name,
    &__status {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
    }
    &__status {
        width: auto;
        padding-right: 15px;
        position: relative;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        &.online {
            &::after {
                background-color: green;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: red;
        }      
    }
}